# Site settings
title:       "&lt;!DOCTYPE show&gt;"
email:       your_email@example.com
author:      gorenburg & bizi
description: "Подкаст о полном цикле веб-разработки"
baseurl:     ""
url:         "http://doctypeshow.ru"

# Google analytics
google_analytics: UA-57495469-1

# Optional features
animated:           false
show_related_posts: false
show_post_footers:  false

# Social icons
show_social_icons: false
github_username:
twitter_username:
google_plus_id:
linkedin_username:
bitcoin_url:
paypal_url:
flattr_button:

# Build settings
markdown:     kramdown
permalink:    pretty
paginate:     3
sass:
  compressed: true

# Gems
gems:
  - jekyll-redirect-from